*{
    box-sizing: border-box;
    font-size: auto;
    font-family:"Playfair Display";
    color:white;
}

html{
   -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overscroll-behavior: none;
    height:100%;
 
}

html::-webkit-scrollbar{
    display:none;
}
body {
    margin: 0;
    height: 100%;
    background-color:rgb(48, 46, 46);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform:scale(0,0);
    }

    50%{
        opacity: 0.7;
        transform:scale(0.3,1);
    }
    100% {
        opacity: 1;
        transform:scale(1,1);
    }
}                 
p{
    font-size:125%;
}
h1{
    font-size:180%;
}
.gridwrapper{
    background-color: rgba(12, 12, 12, 0.5);
    display:flex;
    justify-content: center;
    position:sticky;
    top:0;
    z-index: 2;
}
.mainGridDiv{
    display:inline-grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:auto;
    width:100%;
    height:100%;
}
.gridItem{
background-color:rgb(245, 245, 255);
}
.nameItem{
grid-column:1 / span 5;
}

.gridText{
    
    display:flex;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    text-shadow:10px;
   
    
}

button{
    margin-left:auto;
    margin-right:auto;
    display:flex;
    background:none;
    outline:none;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8px 25px 0 rgba(0,0,0,0.19);
    width:100%;
    height:100%;
    text-align:center;
}
    
button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.ContentDiv{
display:inline-grid;
grid-template-columns:repeat(3,1fr);
animation: fadeInAnimation ease 0.7s;
animation-iteration-count: 1;
animation-fill-mode:forwards;
background-color:rgba(0,0,0,0.3);
width:100%;
margin-bottom:1rem;
margin-top:1rem;
}
.AboutContentItem{
    margin: auto;
  width: 60%;
  padding: 10px;
  font-size:155%;
}
.AboutMePhoto{
    grid-area: 1/1/1/1;
    max-width:100%;
    height:auto;
}
.ResumeDiv{
    display:flex;
    justify-content: center;
    height:80rem;
    width:auto;
    max-height:100%;
    max-width:auto;
    margin-left:auto;
    margin-right:auto;
}
footer{
    text-align:center;
   /* background-color:rgba(245, 245, 220, 0.329);*/
    margin-top:auto;
    background-color: rgba(12, 12, 12, 0.5);
}
.footerFlex{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    
}
.footerItem{
    flex: 1 1 0;
}
.footerButton{
    display:inline-block;
    text-align:center;
    outline:none;
    font-size:100%;
}

.projectIcon{
    grid-area: 2/1/3/1;
    max-width:100%;
    width:50%;
    height:auto;
}
.projectTitle{
    grid-area: 1/1/1/1;
    max-width:100%;
    width:50%;
    height:auto;
}
.projectLink{
    grid-area: 1/1/1/1;
    max-width:100%;
    width:50%;
    height:auto;
} 