:root {
    --charcoal-gray:#1F1D23;
    --education-background:#425077;
    --nav_orange:#d2691e;
    --projects_purple: #745086;
    --experience_background: #2f4858;
    --research_red: #ce4c55;
    --club_background: #aa497a;
}
/*************GLOBAL PROPERTIES****************************************/
@font-face{
    font-family: "NotoSans-Thin";
    src: url('fonts/NotoSans-Thin.woff2') format('woff2');
    font-display: block;
}
* {
    box-sizing: border-box;
    font-family: "NotoSans-Thin";
    color: white;
}
html {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    overscroll-behavior: none;
    height: 100%;
    scroll-behavior:smooth;
}
html::-webkit-scrollbar {
    display: none;
}
.pageWrapper{
    max-width: 1821px;
    margin: 0 auto;
    padding: 0 1.5rem;
}
/***************BODY TEXT PROPERTIES********************************/
body {
    margin: 0;
    background-color: #2C2A2F;
    background-size: cover;
    
}
.bodyTitle{
    /*background-color: rgba(12, 12, 12, 0.67);*/
    display:flex;
    flex-direction:row;
    gap:3vw;
    align-items: center;
    justify-content: center;
    border-radius:12px;
    margin: 2rem 0rem;
}
.titleItem{
    flex-shrink:1;
}
/***********HEADER PROPERTIES************************/
header {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    gap:2rem;
    top: 0;
    z-index: 999;
    align-items: stretch;
    width: 100%;
    background-color: #1F1D23;
}

.navButton{
    display:flex;
    background-color: rgba(12, 12, 12, 0.67);
    justify-content: center;
    z-index: 2;
    transition: transform 0.45s ease;
    max-width: 75%;
    max-height:87%;
    transform: skewX(-20deg);
    margin-left:5%;
}
.linkDiv{
  width: 200px; /* Adjust width as desired */
  height: 500px; /* Adjust height as desired */
  background-color: #45424A; /* Example background color */
  border-radius: 50%; /* This is key for creating the oval shape */
  z-index: -1;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.navButton.nameButton:hover{
    transform: translateY(10px);
    background-color: var(--nav_orange);
}
.navButton.educationButton:hover{
    transform: translateY(10px);
    background-color: var(--education-background);
}
.navButton.experienceButton:hover{
    transform: translateY(10px);
    background-color: var(--experience_background);
}
.navButton.researchButton:hover{
    transform: translateY(10px);
    background-color: var(--research_red);
}
.navButton.projectsButton:hover{
    transform: translateY(10px);
    background-color: var(--projects_purple);
}
.navButton.clubsButton:hover{
    transform: translateY(10px);
    background-color: var(--club_background);
}
.aboutButton:hover{
    transition: background-color 0.3s ease-in-out;
    background-color: #d2691e;
}
.aboutButton{
    border-radius:12px;
}
.nameButton{
    min-height: 100%;
}
.nameText{
    font-size: 24px;
    color:#F5F5F5;
    flex:1;
}
.navText{
    font-size: 20px;
    color:#F5F5F5;
    flex:1;
}
/*********************************************************/
/* Fade-in animation */
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.7;
        transform: scale(0.3, 1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Typography */
p {
    font-size: 1.25rem;
}

h1 {
    font-size: 1.8rem;
}

/* Navigation Wrapper */
.gridWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap:2rem;
    width: 100%;
}

/* Main navigation grid */
.navBarDiv {
    display: grid;
    grid-template-rows: repeat(0, 1fr);
    grid-template-columns: repeat(6, 2fr);
    width: 100%;
}

.gridItem {
    background-color: rgb(245, 245, 255);
}

/* Button Styling */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background: none;
    outline: none;
    border: none;
    box-shadow:
        0 6px 8px rgba(0, 0, 0, 0.24),
        0 8px 25px rgba(0, 0, 0, 0.19);
}

button:hover {
    box-shadow:
        0 12px 16px rgba(0, 0, 0, 0.24),
        0 17px 50px rgba(0, 0, 0, 0.19);
}


/* Footer */
footer {
    text-align: center;
    background-color: rgba(12, 12, 12, 0.5);
}

.footerFlex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.footerItem {
    flex: 1 1 0;
}

.footerButton {
    display: inline-block;
    text-align: center;
    outline: none;
    font-size: 1rem;
}

/* Project Items */
.projectIcon,
.projectTitle,
.projectLink {
    max-width: 100%;
    width: 50%;
    height: auto;
}

/* Fix incorrect grid-area declarations */
.projectIcon {
    grid-row: 2;
    grid-column: 1;
}

.projectTitle,
.projectLink {
    grid-row: 1;
    grid-column: 1;
}

/* ----------------------- */
/* RESPONSIVE BREAKPOINTS */
/* ----------------------- */

/* Tablet */
@media (max-width: 900px) {
    .ContentDiv {
        grid-template-columns: 1fr 1fr;
    }
    .AboutContentItem {
        width: 80%;
    }
}

/* Mobile */
@media (max-width: 600px) {
    p {
        font-size: 1.1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    .mainGridDiv {
        grid-template-columns: repeat(3, 1fr);
    }
    .nameItem {
        grid-column: 1 / span 3;
    }
    button {
        padding: 0.8rem 0;
    }
    .ContentDiv {
        grid-template-columns: 1fr;
    }
    .AboutContentItem {
        width: 95%;
        font-size: 1.3rem;
    }
    .ResumeDiv {
        height: 60rem;
    }
}

/* LEFT COLUMN */
.aboutLeftColumn {
  display: flex;
  flex-direction: column;
  gap: 15px;                  /* space between elements */
  width: 50vw;               /* fixed column width (adjust as desired) */
  flex:1;
  border-radius: 12px;
  margin: 1rem 2rem;
}

/* Right column grows naturally */
.aboutRightColumn {
  flex: 1;
  background-color: #1F1D23;
  border-radius:12px;
  margin: 1rem 2rem;
}

/* Profile picture styling */
.profilePhoto {
    width: 67%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    margin: 1rem 2rem;
    border: 4px solid transparent;
    border-radius: 12px;
    background-image: linear-gradient(white, white), linear-gradient(45deg, chocolate, #fff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    align-self: center;
    justify-self: center;
}
.aboutMeBlock{
  flex: 1;
  background-color: #1F1D23;
  border-radius:12px;
}
.headshotBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: chocolate;
  border-radius:12px;
}
.hoverBlock:hover{
    transform: scale(1.05);
    transition: all 1s ease;
    box-shadow: 0 12px 20px rgba(0,0,0,0.4);
    
}
.aboutMePage {
  display: flex;
  gap: 40px;                 /* space between columns */
  margin-top: 40px;
  align-items: stretch;   /* keep tops aligned */
  background-color: var(--nav_orange);
  border-radius: 12px;
}
.educationPage{
    display: flex;
    gap: 40px;                 /* space between columns */
    margin-top: 40px;
    align-items: stretch;   /* keep tops aligned */
    display:flex;
    flex-direction:row;
    border-radius: 12px;
    background-color: #425077;
    min-height: 300px;
}
.centerTitle{
    text-align: center;
    flex:1;
}
.basicColumn { /*basic column like education section*/
  flex: 1;
  background-color: #1F1D23;
  border-radius:12px;
    border-radius: 12px;
    margin: 1rem 2rem;
    border: 4px solid transparent;
    border-radius: 12px;
    background-color: var(--charcoal-gray);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.projectsPage{
    display: flex;
    gap: 40px;                 /* space between columns */
    margin-top: 40px;
    align-items: stretch;   /* keep tops aligned */
    display:flex;
    flex-direction:row;
    border-radius: 12px;
    background-color: var(--projects_purple);
    min-height: 300px;
}
.experiencePage{
    display: flex;
    gap: 40px;                 /* space between columns */
    margin-top: 40px;
    align-items: stretch;   /* keep tops aligned */
    display:flex;
    flex-direction:row;
    border-radius: 12px;
    background-color: var(--experience_background);
    min-height: 300px;
}
.researchPage{
    display: flex;
    gap: 40px;                 /* space between columns */
    margin-top: 40px;
    align-items: stretch;   /* keep tops aligned */
    display:flex;
    flex-direction:row;
    border-radius: 12px;
    background-color: var(--research_red);
    min-height: 300px;
}
.clubsPage{
    display: flex;
    gap: 40px;                 /* space between columns */
    margin-top: 40px;
    align-items: stretch;   /* keep tops aligned */
    display:flex;
    flex-direction:row;
    border-radius: 12px;
    background-color: var(--club_background);
    min-height: 300px;
}

.colorFadeDiv {
    width:auto;
    height: fit-content;
    display:flex;
    border-radius: 12px;
    justify-items: center;
    align-items: center;
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    background: linear-gradient(90deg,
        var(--nav_orange),
        var(--education-background),
        var(--experience_background),
        var(--research_red),
        var(--projects_purple),
        var(--club_background)
    );

    background-size: 500%;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0%   { background-position: 0%   50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0%   50%; }
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.box_text {
    margin: 3vw;
}

.box_title {
    text-align: center;
}